#news{a:a;
    .wrap{a:a;
        h2{a:a;

        }
        h3{a:a;

        }
        >a{a:a;

        }
        ul{a:a;
            li{a:a;
                a{a:a;
                    timea:a;
                }
            }
        }
    }
}